
body {
    font-family: "Fira Code", monospace;
    background-color: #0f1419;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.navbar {
    background: #1e1e1e;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-title {
    font-size: 22px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links span {
    margin-right: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-links a:hover {
    transform: scale(1.1);
    color: #ffcc66;
}

.navbar-links span {
    transition: transform 0.2s ease-in-out;
}

.navbar-links span:hover {
    transform: scale(1.1);
}


.CodeMirror-linenumber {
    color: #777;
}

.CodeMirror-cursor {
    border-left: 2px solid #ffcc66 !important;
}



a {
    display: inline-block;
    text-decoration: none;
}


a button {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #1e1e1e;
    color: #ffcc66;
    border: 2px solid #ffcc66;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease-in-out;
    white-space: nowrap;
}


a button:hover {
    background-color: #2a2e37;
    transform: scale(1.05);
}


a button:active {
    background-color: #3a3f4b;
}


.button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}


#language-selector {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #323842;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffcc66;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

#language-selector:hover {
    border-color: #ffcc66;
}

#language-selector:focus {
    border-color: #ffcc66;
    box-shadow: 0 0 5px rgba(255, 204, 102, 0.5);
}

#language-selector option {
    font-size: 14px;
    background: #1e1e1e;
    color: white;
}

#output, #debug-output {
    margin-top: 15px;
    padding: 15px;
    background: #1f2430;
    color: #d9d7ce !important;
    min-height: 60px;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    border-left: 5px solid #ffcc66;
}


#output * {
    color: #d9d7ce !important;
    font-family: "Fira Code", monospace;
}


#output pre, #output code {
    color: #d9d7ce !important;
    background: none !important;
}
